html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

@font-face {
    font-family: 'black_jackregular';
    src: url("../fonts/blackjack/blackjack-webfont.woff") format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Proxima Nova Light';
    src: url("../fonts/Proxima Nova/Proxima Nova Light.otf") format('woff');
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: 'Proxima Nova Regular';
    src: url("../fonts/Proxima Nova/Proxima Nova Regular.otf") format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Proxima Nova Regular Italic';
    src: url("../fonts/Proxima Nova/Proxima Nova Regular Italic.otf") format('woff');
    font-weight: normal;
    font-style: italic;
}
@font-face {
    font-family: 'Proxima Nova Bold Italic';
    src: url("../fonts/Proxima Nova/Proxima Nova Bold Italic.otf") format('woff');
    font-weight: normal;
    font-style: italic;
}
@font-face {
    font-family: 'Proxima Nova Semibold Italic';
    src: url("../fonts/Proxima Nova/Proxima Nova Semibold Italic.otf") format('woff');
    font-weight: normal;
    font-style: italic;
}

body {
    margin: 0 auto;
    width: 1260px;
}
header {
    margin: 0 auto;
    background: red url("../img/header/header-bg.png") no-repeat;
    padding: 0 160px;
    height:  100vh;
}
.logo {
    width: 150px;
    height: 150px;
    display: inline-block;
    background: url("../img/header/logo.png") -1px 0  no-repeat;
}
.nav {
    width: 41px;
    height: 150px;
    display: inline-block;
    float: right;
}
.nav .menu-trigger {
    margin-top: 39px;
    margin-left: 10px;
}
.nav .menu {
    background: #f3787a url("../img/header/nav-overlay-bg.png") no-repeat;
    display: none;
    width: 100%;
    height: 650px;
    position: absolute;
    top: 0;
    left: 0;
    box-sizing: border-box;
}
.nav .menu button {
    width: 25px;
    height: 25px;
    background: url("../img/header/close-icon.png") no-repeat;
    border: none;
    float: right;
    margin-right: 161px;
    margin-top: 39px;
}

button,
button:active,
button:focus {
    outline: none;
}

.nav .menu div {
    display: block;
    height: 50px;
    padding: 16px 0 0 16px;
}
.nav .menu  a{
    font-family: "Proxima Nova Bold Italic", sans-serif;
    font-weight: bold;
    font-size: 18px;
    color: #ffffff;
    text-decoration: none;
    padding-left: 50px;
}
.nav .menu  a:hover {
    color: #6dc5ea;
}
.nav .menu .home {
    margin: 13% 40px 0 37%;
    background: url("../img/header/circul-shape.png") no-repeat;

}
.nav .menu .about-me {
    margin: 10px 40px 0 37%;
    background: url("../img/header/circul-shape.png") no-repeat;
}
.nav .menu .port {
    margin: 10px 40px 0 37%;
    background: url("../img/header/circul-shape.png") no-repeat;
}
.nav .menu .drop {
    margin: 10px 40px 0 37%;
    background: url("../img/header/circul-shape.png") no-repeat;
}
.header-content {
    display: block;
    margin-top: 20px;
    text-align: right;
    color: #ffffff;
    height: 477px;
    background: url("../img/header/iphone.png") 71px 210px no-repeat;
}
.header-content h1 {
    font-family: black_jackregular, sans-serif;
    font-size: 70px;
    margin-right: -5px;
}
.header-content h2 {
    font-family: "Proxima Nova Light", sans-serif;
    font-size: 35px;
    padding-top: 37px;
}
.header-content h2 span {
    font-family: "Proxima Nova Bold Italic", sans-serif;
    font-style: italic;
    font-weight: bold;
    font-size: 35px;
}
.header-content button {
    border: 2px solid #ffffff;
    border-radius: 5%;
    background-color: #64c3e7;
    color: #ffffff;
    width: 173px;
    height: 57px;
    margin-top: 49px;
    padding: 0 1px 0 26px;
    text-align: left;
    text-transform: uppercase;
    font-family: "Proxima Nova Regular", sans-serif;
    font-size: 15px;
}
.header-content button:hover {
    border: 2px solid #d3d3d3 ;
}
.header-content img {
    padding-left: 9px;
    padding-top: 4px;
}
.about-us {
    background: #f4f4f4 url("../img/about-us/ipad-icon.png") 920px 152px no-repeat;
    height: 650px;
    padding: 143px 160px 0 160px;
    box-sizing: border-box;
    color: #545454;
}
.about-us h2 {
    font-family: "Proxima Nova Light", sans-serif;
    font-size: 40px;
}
p {
    font-family: "Proxima Nova Regular", sans-serif;
    font-size: 16px;
    padding-top: 30px;
    width: 550px;
    line-height: 1.6;
}
.about-us h3 {
    font-family: "Proxima Nova Regular Italic", sans-serif;
    font-style: italic;
    font-size: 16px;
    margin-top: 25px;
    width: 550px;
    line-height: 1.6;
    border-left: 5px solid #4eacdd;
    padding-left: 20px;
}
.about-us button {
    border: 2px solid #14af8f;
    border-radius: 4%;
    background-color: #f4f4f4;
    color: #14af8f;
    width: 173px;
    height: 57px;
    padding: 0 1px 0 26px;
    margin-top: 65px;
    text-align: left;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    font-family: "Proxima Nova Regular", sans-serif;
    font-size: 15px;
}
.about-us button:hover {
    border: 2px solid #166f5d;
}
.about-us button img {
    padding-left: 10px;
    position: relative;
    top: 2px;
    left: 1px;
}
.portfolio {
    background: #ffffff url("../img/about-us/devices.png") 0 284px no-repeat ;
    height: 650px;
    padding: 0 160px;
    box-sizing: border-box;
    color: #545454;
}
.portfolio div {
    float: right;
    margin: 101px 13px 50px 30px;
    width: 385px;
}
.portfolio h2 {
    font-family: "Proxima Nova Light", sans-serif;
    font-size: 40px;
}
.portfolio h3 {
    font-family: "Proxima Nova Semibold Italic", sans-serif;
    font-style: italic;
    font-weight: bold;
    font-size: 16px;
    margin-top: 35px;
    line-height: 1.6;
    letter-spacing: 0.03em;
}
.portfolio p {
    font-family: "Proxima Nova Regular", sans-serif;
    font-size: 16px;
    width: 388px;
    line-height: 1.6;
    letter-spacing: 0.03em;
    padding-top: 25px;
}
.portfolio button {
    border: 2px solid #ea4c89;
    border-radius: 4%;
    background-color: #ffffff;
    color: #ea4c89;
    width: 225px;
    height: 57px;
    padding: 0 1px 0 30px;
    margin-top: 55px;
    text-align: left;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    font-family: "Proxima Nova Regular", sans-serif;
    font-size: 15px;
}
.portfolio button:hover {
    border: 2px solid #c5137e;
}
.portfolio #view img {
    margin-left: 8px;
    margin-top: 1px;
    position: relative;
    top: 2px;
    right: 2px;
}
.donate {
    background: #13c4af url("../img/donate/bg.png");
    height: 327px;
    z-index: 50;

    color: #ffffff;
    font-family: "Proxima Nova Regular", sans-serif;
}
.donate h2 {
    font-size: 40px;
    padding: 7.5% 0 0 36%;
}
.donate button {
    border: 2px solid #f4f4f4;
    border-radius: 4%;
    background-color: transparent;
    color: #f4f4f4;
    width: 225px;
    height: 57px;
    padding: 0 1px 0 35px;
    margin-top: 36px;
    margin-left: 41%;
    text-align: left;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    font-family: "Proxima Nova Regular", sans-serif;
    font-size: 15px;
}
.donate button:hover {
    border: 2px solid #166f5d;
}
.donate button img {
    position: relative;
    top: 2px;
    left: 5px;
}
.donate span {
    font-family: "Proxima Nova Bold Italic", sans-serif;
    font-style: italic;
    font-weight: bold;
}
.contact {
    background: #f4f4f4;
    height: 375px;
    padding: 243px 100px 30px 465px;
}
.contact a {
    display: inline-block;
    width: 57px;
    height: 57px;
    margin-right: 30px;
}
.contact .ball {
    background: url("../img/contact/dribble--con.png") 18px 18px no-repeat;
}
.contact .fb {
    background: url("../img/contact/facebook-icon.png") 23px 18px no-repeat;
}
.contact .tw {
    background: url("../img/contact/twitter-icon.png") 16px 16px no-repeat;
}
.contact .paper {
    background: url("../img/contact/paperplane-icon.png") 14px 14px no-repeat;
}
.contact .email-form {
    display: block;
    width: 600px;
    margin-top: 65px;
    margin-left: -46px;
    position: relative;
}
.contact form {
    width: 600px;
    margin: 0;
    padding: 10px ;
    display: inline-block;
}
.contact p {
    font-family: "Proxima Nova Semibold Italic", sans-serif;
    font-style: italic;
    font-weight: bold;
    font-size: 16px;
    color: #545454;
    display: inline;
}
.contact input {
    display: inline;
    border: 1px solid white;
    border-radius: 6px 6px 6px 6px;
    -webkit-border-radius: 6px 6px 6px 6px;
    -moz-border-radius: 6px 6px 6px 6px;
    height: 25px;
    margin-left: 20px;
    padding: 5px 40px 5px 15px;
    width: 170px;
    font-family: "Proxima Nova Semibold Italic", sans-serif;
    font-style: italic;
    font-weight: bold;
    font-size: 14px;
    color: #d3d3d3;
}
.contact .email-form img {
    display: inline;
    padding-left: 6px;
    position: absolute;
    top: 21px;
    left: 395px;
}
.contact button {
    border: none;
    padding: 0;
}
footer {
    height: 100px;
    background: #ffffff;
}
footer div {
    color: #545454;
    font-family: "Proxima Nova Regular", sans-serif;
    text-align: center;
    /*padding: 17px 20px 0 486px;*/
}
footer p {
    font-size: 12px;
    width: 100%;
}
footer a {
    color: #6dc5ea;
    text-decoration: none;
}
footer a:hover {
    color: #6dc5ea;
    text-decoration: underline;
}
footer .it {
    font-family: "Proxima Nova Regular Italic", sans-serif;
    font-style: italic;
}
.fixed {
    position: fixed;
    width: 10px;
    height: 10px;
    right: 70px;
    bottom: 5px;
}
.top-button {
    width: 15px;
    height: 15px;
    border: 1px solid #f4f4f4;
    border-radius: 15%;
    background: #f4f4f4 url("../img/footer/to-top-icon.png") 11px 14px no-repeat;
    text-align: center;
    padding: 20px 10px 1px 25px;
    position: relative;
    bottom: 30px;
    right: 30px;
    cursor: pointer;
    color: #fff;
    font-family: "ralewaylight", Arial, sans-serif;
    font-size: 12px;
}




@media (min-width: 1000px) and (max-width: 1259px) {
    body {
        width: 100%;
    }
    .about-us {
        padding: 143px 120px 0 ;
        background: #f4f4f4 url(../img/about-us/ipad-icon.png) 105% 152px no-repeat;
    }
    .portfolio div {
        float: left;
        width: 800px;
    }
    .portfolio p {
        width: 800px;
    }
    .portfolio button {
        float: right;
        margin-right: 70px;
    }
    .contact {
        padding: 200px 30px 0;
        margin: 0 auto;
        text-align: center;
        height: 280px;
    }
    .contact .email-form {
        margin: 40px auto;
    }
    .contact form {
        background-position: 302px 1px;
    }
    .contact .email-form img {
        left: 480px;
    }
}


@media (min-width: 800px) and (max-width: 999px) {
    body {
        width: 100%;
    }
    header {
        padding: 0 130px;
    }
    .about-us {
        padding: 100px 100px 0 ;
        height: 600px;
        background: #f4f4f4 url("../img/about-us/ipad-icon.png") 100% 395px no-repeat
    }
    .portfolio {
        padding: 100px 60px 0 ;
        background: #ffffff url("../img/about-us/devices.png") -180px 284px no-repeat
    }
    .portfolio div {
        float: right;
        width: auto;
        margin: 0 10px 20px 350px;
    }
    .portfolio p {
        width: auto;
    }
    .portfolio button {
        float: right;
        margin-right: 70px;
        margin-top: 30px;
    }
    .donate h2 {
        padding: 7.5% 25% 0 30%;
    }
    .donate button {
         margin-left: 38%;
     }
    .contact {
        padding: 200px 30px 0;
        margin: 0 auto;
        text-align: center;
        height: 280px;
    }
    .contact .email-form {
        margin: 40px auto;
    }
    .contact form {
        background-position: 302px 1px;
    }
    .contact .email-form img {
        left: 480px;
    }
}


@media (min-width: 600px) and (max-width: 799px) {
    body {
        width: 100%;
    }
    header {
        padding: 0 80px;
    }
    .header-content {
        background: url(../img/header/iphone.png) 1px 210px no-repeat;
    }
    .nav .menu button {
        margin-right: 60px;
    }
    .about-us {
        padding: 80px 80px 0 ;
        height: 600px;
        background: #f4f4f4 url("../img/about-us/ipad-icon.png") 105% 395px no-repeat
    }
    .about-us p {
        width: 100%;
    }
    .about-us h3 {
        width: 100%;
    }
    .about-us button {
        width: 165px;
    }
    .portfolio {
        padding: 100px 60px 0 ;
        background: #ffffff url("../img/about-us/devices.png") -180px 332px no-repeat
    }
    .portfolio div {
        float: left;
        width: auto;
        margin: 0 10px 20px 50px;
    }
    .portfolio p {
        width: auto;
    }
    .portfolio button {
        float: right;
        margin-right: 70px;
        margin-top: 60px;
    }
    .donate h2 {
        font-size: 38px;
        padding: 12% 20% 0 23%;
        text-align: center;
    }
    .donate button {
        margin-left: 34%;
    }
    .contact {
        padding: 100px 10px 0;
        margin: 0 auto;
        text-align: center;
        height: 280px;
    }
    .contact .email-form {
        margin: 40px auto;
        width: 550px;
    }
    .contact form {
        background-position: 200px 1px;
        width: auto;
    }
    .contact .email-form img {
        left: 450px;
    }
}


@media (min-width: 400px) and (max-width: 599px) {
    body {
        width: 100%;
    }
    header {
        padding: 0 40px;
    }
    .header-content {
        background: url(../img/header/iphone.png) 1px 310px no-repeat;
    }
    .header-content h1 {
        font-size: 60px;
    }
    .header-content h2 {
        font-size: 30px;
    }
    .header-content h2 span {
        font-size: 30px;
    }
    .nav .menu button {
        margin-right: 60px;
    }
    .nav .menu .home {
        margin: 13% 40px 0 25%;
    }
    .nav .menu .about-me {
        margin: 8px 40px 0 25%;
    }
    .nav .menu .port {
        margin: 8px 40px 0 25%;
    }
    .nav .menu .drop {
        margin: 8px 40px 0 25%;
    }
    .about-us {
        padding: 60px 50px 0 ;
        background: #f4f4f4 url("../img/about-us/ipad-icon.png") 105% 480px no-repeat;
    }
    .about-us p {
        width: 100%;
    }
    .about-us h3 {
        width: 100%;
    }
    .about-us button {
        width: 165px;
        background: transparent;
        margin-bottom: 40px;
        margin-left: 30px;
    }
    .about-us button:active, .about-us button:hover {
        background: #f4f4f4;
    }
    .portfolio {
        padding: 50px 50px 0 ;
        background: #ffffff url("../img/about-us/devices.png") -200px 346px no-repeat;
    }
    .portfolio div {
        float: left;
        width: auto;
        margin: 0 10px 20px 0;
    }
    .portfolio p {
        width: auto;
    }
    .portfolio button {
        float: left;
        margin-left: 30px;
        margin-top: 30px;
    }
    .donate h2 {
        font-size: 36px;
        padding: 80px 0 40px;
        text-align: center;
    }
    .donate button {
        margin: 0 10% 0 23%;
    }
    .contact {
        padding: 100px 10px 0;
        margin: 0 auto;
        text-align: center;
        height: 280px;
    }
    .contact a {
        margin-right: 28px;
    }
    .contact .email-form {
        margin: 10px auto 30px;
        width: auto;
        position: relative;
    }
    .contact form {
        background-position: 18px 88px;
        width: auto;
        padding: 20px;
    }
    .contact p {
        display: block;
        margin: 0 auto;
        width: auto;
        padding-bottom: 15px;
    }
    .contact input {
        display: inline-block;
        margin: 10px auto;
        width: 135px;
        background: #ffffff url("../img/contact/email-icon.png") 163px 12px no-repeat;
    }

    .contact .email-form img {
       display: none;
    }
    .top-button {
        bottom: 20px;
        right: 20px;
    }
}


@media (min-width: 310px) and (max-width: 399px) {
    body {
        width: 100%;
    }
    header {
        padding: 0 20px;
    }
    .header-content {
        background: url(../img/header/iphone.png) 1px 310px no-repeat;
    }
    .header-content h1 {
        font-size: 50px;
    }
    .header-content h2 {
        font-size: 25px;
    }
    .header-content h2 span {
        font-size: 35px;
    }
    .nav .menu button {
        margin-right: 30px;
    }
    .nav .menu .home {
        margin: 25% 40px 0 15%;
    }
    .nav .menu .about-me {
        margin: 8px 40px 0 15%;
    }
    .nav .menu .port {
        margin: 8px 40px 0 15%;
    }
    .nav .menu .drop {
        margin: 8px 40px 0 15%;
    }
    .about-us {
        height: auto;
        padding: 30px 20px 0 ;
        background: #f4f4f4 none 10% 401px no-repeat;
    }
    .about-us h2 {
        font-size: 30px;
    }
    .about-us p {
        width: 100%;
        font-size: 14px;
        padding-right: 15px;
    }
    .about-us h3 {
        width: 90%;
        font-size: 14px;
        padding-right: 15px;
    }
    .about-us button {
        width: 135px;
        background: transparent;
        font-size: 13px;
        margin: 30px 40px 80px 20px;
        padding: 0 0 0 10px;
    }
    .about-us button:active, .about-us button:hover {
        background: #f4f4f4;
    }
    .portfolio {
        padding: 50px 50px 0 ;
        background: #ffffff url("../img/about-us/devices.png") -400px 400px no-repeat;
    }
    .portfolio div {
        float: left;
        width: auto;
        margin: 0 10px 20px 0;
    }
    .portfolio h2 {
        font-size: 30px;
    }
    .portfolio p {
        width: auto;
        font-size: 14px;
    }
    .portfolio button {
        float: left;
        margin-left: 0;
        margin-top: 30px;
        width: 210px;
    }
    .donate h2 {
        font-size: 30px;
        padding: 80px 0 40px;
        text-align: center;
    }
    .donate button {
        margin-left: 15%;
        margin-top: 5px;
    }
    .contact {
        padding: 100px 10px 0;
        margin: 0 auto;
        text-align: center;
        height: 280px;
    }
    .contact a {
        margin-right: 6px;
    }
    .contact .email-form {
        margin: 0 auto 40px;
        width: auto;
    }
    .contact form {
        background-position: 18px 88px;
        width: auto;
        padding: 20px;
    }
    .contact p {
        display: block;
        margin: 0 auto;
        width: auto;
        padding-bottom: 15px;
    }
    .contact input {
        display: inline-block;
        margin: 10px auto;
        width: 135px;
    }
    .contact input {
        display: inline-block;
        margin: 10px auto;
        width: 135px;
        background: #ffffff url("../img/contact/email-icon.png") 163px 12px no-repeat;
    }
    .contact .email-form img {
        display: none;
    }
    .top-button {
        bottom: 20px;
        right: 0;
    }
}